.movie__overview {
    margin-top: 100px;
}

.back__poster {
    height: 300px;
    color: white;
    font-family: "Source Sans Pro", sans-serif;
}
/*.back__poster::after{
    background-color: rgba(0, 0, 0, 0.37);
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    width: 100%;
}*/
.back__poster h1 {
    font-size: 3rem;
}

.back__poster span {
    font-size: 1.5rem;
}
.movie__details__year {
    margin-right: 10px;
}

.favorite {
    height: 50px;
    margin-top: 20px;
    display: inline-block;
    border: 2px solid;
    text-decoration: none;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    transition: background 250ms ease-in-out,
    transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.favorite:focus {
    outline: 1px solid #fff;
    outline-offset: -4px;
}

.favorite:active {
    transform: scale(0.97);
}

.favorite:focus {
    outline: none;
}

.add__favorite {
    color: #FF0079;
    background-color: white;
    border-color: #FF0079;;
}

.remove__favorite {
    color: white;
    background-color: #FF0079;
}

add_favorite:hover {
    background-color: #FF0079;;
    color: white;
}

.movie__overview img {
    width: 100%;
}