{
  "extends": [
    "react-app",
    "airbnb",
    "plugin:jsx-a11y/recommended",
    "prettier",
    "prettier/react"
  ],
  "plugins": [
    "jsx-a11y",
    "prettier"
  ],
  "rules": {
    "semi": 0,
    "no-plusplus": "off",
/*    "react/prop-types": "off",
    "react/destructuring-assignment": "off",*/
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }]
  }
}