
.movie__img{
    background: url('mov1.png') no-repeat center;
    -webkit-background-size: cover;
    width: 195px;
    height:250px;
    background-size: cover;
}
.movie__year{
    color: white;
    position: absolute;
    bottom: 90px;
    left: 30px;

}
.movie__desc{
    width: 195px;
    height: 80px;
    background: #FFFFFF;
    box-shadow: 0px 2px 35px rgba(0, 0, 0, 0.1);
}
.movie__name{
    position: absolute;
    font-family: Source Sans Pro,serif;
    font-size: 20px;
    bottom: 35px;
    left: 30px;
    color: #494C62;
}
.movie__about{
    position: absolute;
    bottom: 10px;
    left: 30px;
    font-family: Source Sans Pro,serif;
    font-style: normal;
    font-weight: 600;
    font-size: 0.75rem;


    color: #BABBC3;
}
.movie__rate{
    border: 2px solid #FF0079;
    padding: 4px 8px;
    border-radius: 5px;
    font-size:0.75rem;
    position: relative;
    bottom: -10px;
    left: 60px;

    line-height: 35px;
    color: #FF0079;
}