.movie__block {
    display: flex;
}

.movie__year {
  color: white;
  position: absolute;
  top: 220px;
  left: 55px;
}
.movie__desc {
    width: 195px;
    height: 80px;
    background: #ffffff;
    box-shadow: 0px 2px 35px rgba(0, 0, 0, 0.1);
}
.movie__img img{
  width: 100%;
}
.movie__desc{
  width: 100%;
}
.movie__name {
    font-family: Source Sans Pro, serif;
    font-size: 20px;
    color: #494c62;
}

.movie__type {
    font-family: Source Sans Pro, serif;
    font-style: normal;
    font-weight: 600;
    font-size: 0.75rem;
    color: #babbc3;
}

.movie__rate {
    border: 2px solid #ff0079;
    padding: 4px 8px;
    border-radius: 5px;
    font-size: 0.75rem;
    color: #ff0079;
}
