.movie__grid{
    margin-top: 100px;
}
.selected{
    font-weight: bold;
}


#pagination {
    display: flex;
    margin-top: 20px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}
ul li {
    color: #fff;
    display: flex;
}
ul li a {
    background-color: #444B6E;
    padding: 5px 10px;
    border: 2px solid #3D315B;
    border-right: 0;
}
ul li.active a {
    background-color: #9AB87A;
}
ul li:first-child a {
    border-radius: 5px 0 0 5px;
}
ul li:last-child a {
    border-radius: 0 5px 5px 0;
    border-right: 2px solid #3D315B;
}
