.footer__container {
    background-color: #fff;
    height: 180px;
    margin-top: 50px;
}

.footer__menu, .footer_icons {
    padding: 25px 0;
}

.footer__menu ul li {
    padding: 10px;
}

.footer__box {
    font-weight: bold;
}

.footer__text {
    text-transform: uppercase;
}

.footer__icons ul li {
    width: 30px;
    height: 30px;
    background: #BABBC3;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
}

.footer__icons svg {
    margin: 7px auto;
    display: block;
    color: #fff;
}

.footer__icons h4 {
    font-size: 1rem;
    color: #80818A;
    opacity: 0.5;
}

@media (max-width: 575px) {
    .footer__menu, .footer__icons {
        flex-direction: column;
        align-items: center;
    }
}
