.header {
    background: #EE8686;
    height: 100px;
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

@media (max-width: 575px) {
    .header__container {
        flex-direction: column;
        justify-content: flex-start;
    }
}

.header__container a:hover {
    text-decoration: none;
}

.header__text {
    font-family: Source Sans Pro, sans-serif;
    font-size: 2.25rem;
    text-transform: uppercase;
    color: #FFFF;
}

.header__box {
    font-weight: bold;
}

.header__text, .favorites {
    -webkit-transition: transform 0.1s ease-in-out;
}

.header__text:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.header__button, .header__button__toggled {
    font-family: Source Sans Pro, sans-serif;
    font-size: 1.25rem;
    border-radius: 8px;
    border: 2px solid #FFF;
    padding: 3px 10px;
}

.header__button, .header__button__toggled:focus,
.header__button, .header__button__toggled:active {
    outline: none;
}

.favorites :hover {
    cursor: pointer;
    transform: scale(1.1);
}

.header__button {
    color: #EE8686;
    background: #FFF;
}

.header__button__toggled {
    color: #fff;
    background: transparent;
}



